@page
@model ToDo.Pages.AssignmentsModel
@using Models
@{
    ViewData["Title"] = "Assignments";
}

<div class="container">
    <div class="row my-5">
        <div class="col">
            <div class="text-center">
                <h4 class="">Assignments</h4>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center my-3">
        <div class="col-4">
            <div class="text-center">
                <p>Select assignments:</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assignments Type
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-page-handler="AllAssignments">All</a>
                        <a class="dropdown-item" asp-page-handler="DoneAssignments">Done</a>
                        <a class="dropdown-item" asp-page-handler="NotDoneAssignments">Not Done</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <p>Filter by:</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selection Option
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-page-handler="SortedCollectionByDeadlineAscending">Deadline - Ascending</a>
                        <a class="dropdown-item" asp-page-handler="SortedCollectionByDeadlineDescending">Deadline - Descending</a>
                        <a class="dropdown-item" asp-page-handler="SortedCollectionByImportanceAscending">Importance - Ascending</a>
                        <a class="dropdown-item" asp-page-handler="SortedCollectionByImportanceDescending">Importance - Descending</a>
                        <a class="dropdown-item" asp-page-handler="SortedCollectionByNameAscending">Name - Ascending</a>
                        <a class="dropdown-item" asp-page-handler="SortedCollectionByNameDescending">Name - Descending</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">
                <p>Add  assignment</p>
                <div class="dropdown">
                    <button class="btn btn-secondary" type="button"  asp-area="" asp-page="/Edit"> 
                        Add 
                    </button>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center my-5">
        <div class="col-12">
            <table class="table table-hover table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Important</th>
                        <th scope="col">Done</th>
                        <th scope="col">Description</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Assignment assignment in Model.AssignmentsToDisplay)
                    {
                     <tr>
                        <th scope="row">@assignment.Id</th>
                        <td>@assignment.Name</td>
                        <td>@assignment.Deadline</td>
                        <td>@assignment.IsImportant</td>
                        <td>@assignment.IsDone</td>
                        <td>@assignment.Description</td>
                        <td>
                            <button>
                                Edit
                            </button>
                        </td>
                     </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
